# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [27]:
#importacion de pandas y  series
import pandas as pd
from pandas import Series
import random 
from random import randint

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [ ]:

# Creacion de lista con secuencia de 1 al 5:
lista = list(range (1,6))
lista

[1, 2, 3, 4, 5]

In [24]:
#Creacion de una serie apartir de la lista
serie = Series(lista, index=lista)
serie

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [9]:
#Creacion de diccionario con paises y capitales
diccionario = {"Argentina": "Buenos Aires", "Alemania":"Berlin", "Canada":"Ottawa", "China":"Pekin", "Italia": "Roma", "Australia": "Canberra" }
#Creacion de serie apartir del diccionario
paises = Series(diccionario)
paises

Argentina    Buenos Aires
Alemania           Berlin
Canada             Ottawa
China               Pekin
Italia               Roma
Australia        Canberra
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [26]:
#Creamos un diccionario y pasamos a Serie
semana = {"Lunes":"Lavar Ropa", "Martes" : "Barrer", "Miercoles":"Baldear el piso", "Jueves":"Regar las plantas","Viernes":"Sacar la basura", "Sabado":"Limpiar el baño", "Domingo":"Doblar la ropa"}
tareas = Series(semana) 
tareas

Lunes               Lavar Ropa
Martes                  Barrer
Miercoles      Baldear el piso
Jueves       Regar las plantas
Viernes        Sacar la basura
Sabado         Limpiar el baño
Domingo         Doblar la ropa
dtype: object

In [ ]:
#Accede a los primeros 3 elementos
tareas.head(3)

Lunes             Lavar Ropa
Martes                Barrer
Miercoles    Baldear el piso
dtype: object

In [ ]:
#Accede a los ultimos 2 elementos
tareas.tail(2)

Sabado     Limpiar el baño
Domingo     Doblar la ropa
dtype: object

In [ ]:
#Cambiar los valores de los dias martes, jueves y sabados
tareas.update({
 "Martes":"Coser",
  "Jueves":"Cocinar",
  "Sabado": "Pintar la casa"})
tareas

Lunes             Lavar Ropa
Martes                 Coser
Miercoles    Baldear el piso
Jueves               Cocinar
Viernes      Sacar la basura
Sabado        Pintar la casa
Domingo       Doblar la ropa
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [40]:

# Creamos una series con números
lista_nueva = [random.randint(1,9) for i in range(6)]
serie2 = Series(lista_nueva, index=lista_nueva)

#Llamamos a la serie creada en la actividad n1
print("Primera serie:\n", serie)
print("Segunda serie:\n", serie2)

Primera serie:
 1    1
2    2
3    3
4    4
5    5
dtype: int64
Segunda serie:
 1    1
5    5
8    8
5    5
4    4
9    9
dtype: int64

In [38]:
# Operaciones basicas con dos series
suma = serie + serie2
resta = serie - serie2
multiplicacion = serie * serie2
division = serie / serie2

print("Suma:\n", suma)
print("\nResta:\n", resta)

Suma:
 0     NaN
1     8.0
2     3.0
3     8.0
4    11.0
5    10.0
dtype: float64

Resta:
 0    NaN
1   -6.0
2    1.0
3   -2.0
4   -3.0
5    0.0
dtype: float64

In [45]:
#Imprimimos la multiplicacion y division
print("\nMultiplicación:\n", multiplicacion)
print("\nDivisión:\n", division)

Multiplicación:
 0     NaN
1     7.0
2     2.0
3    15.0
4    28.0
5    25.0
dtype: float64

División:
 0         NaN
1    0.142857
2    2.000000
3    0.600000
4    0.571429
5    1.000000
dtype: float64

In [44]:

# Potenciar la primer serie
potencia2 = serie ** 2
potencia3 = serie ** 3
potencia5 = serie ** 5

print("\n:Serie a la potencia de 2\n", potencia2)
print("\nSerie a la potencia de 3:\n", potencia3)
print("\nSerie a la potencia de 5:\n", potencia5)

:Serie a la potencia de 2
 1     1
2     4
3     9
4    16
5    25
dtype: int64

Serie a la potencia de 3:
 1      1
2      8
3     27
4     64
5    125
dtype: int64

Serie a la potencia de 5:
 1       1
2      32
3     243
4    1024
5    3125
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.