# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [60]:
#importacion de pandas y  series
import pandas as pd
from pandas import Series
import random 
from random import randint

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [61]:

# Creacion de lista con secuencia de 1 al 5:
lista = list(range (1,6))
lista

[1, 2, 3, 4, 5]

In [62]:
#Creacion de una serie apartir de la lista
serie = Series(lista, index=lista)
serie

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [63]:
#Creacion de diccionario con paises y capitales
diccionario = {"Argentina": "Buenos Aires", "Alemania":"Berlin", "Canada":"Ottawa", "China":"Pekin", "Italia": "Roma", "Australia": "Canberra" }
#Creacion de serie apartir del diccionario
paises = Series(diccionario)
paises

Argentina    Buenos Aires
Alemania           Berlin
Canada             Ottawa
China               Pekin
Italia               Roma
Australia        Canberra
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [64]:
#Creamos un diccionario y pasamos a Serie
semana = {"Lunes":"Lavar Ropa", "Martes" : "Barrer", "Miercoles":"Baldear el piso", "Jueves":"Regar las plantas","Viernes":"Sacar la basura", "Sabado":"Limpiar el baño", "Domingo":"Doblar la ropa"}
tareas = Series(semana) 
tareas

Lunes               Lavar Ropa
Martes                  Barrer
Miercoles      Baldear el piso
Jueves       Regar las plantas
Viernes        Sacar la basura
Sabado         Limpiar el baño
Domingo         Doblar la ropa
dtype: object

In [65]:
#Accede a los primeros 3 elementos
tareas.head(3)

Lunes             Lavar Ropa
Martes                Barrer
Miercoles    Baldear el piso
dtype: object

In [66]:
#Accede a los ultimos 2 elementos
tareas.tail(2)

Sabado     Limpiar el baño
Domingo     Doblar la ropa
dtype: object

In [67]:
#Cambiar los valores de los dias martes, jueves y sabados
tareas.update({
 "Martes":"Coser",
  "Jueves":"Cocinar",
  "Sabado": "Pintar la casa"})
tareas

Lunes             Lavar Ropa
Martes                 Coser
Miercoles    Baldear el piso
Jueves               Cocinar
Viernes      Sacar la basura
Sabado        Pintar la casa
Domingo       Doblar la ropa
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [68]:

# Creamos una series con números
lista_nueva = [random.randint(1,9) for i in range(6)]
serie2 = Series(lista_nueva, index=lista_nueva)

#Llamamos a la serie creada en la actividad n1
print("Primera serie:\n", serie)
print("Segunda serie:\n", serie2)

Primera serie:
 1    1
2    2
3    3
4    4
5    5
dtype: int64
Segunda serie:
 6    6
3    3
1    1
9    9
7    7
8    8
dtype: int64

In [69]:
# Operaciones basicas con dos series
suma = serie + serie2
resta = serie - serie2
multiplicacion = serie * serie2
division = serie / serie2

print("Suma:\n", suma)
print("\nResta:\n", resta)

Suma:
 1    2.0
2    NaN
3    6.0
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

Resta:
 1    0.0
2    NaN
3    0.0
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

In [ ]:
#Imprimimos la multiplicacion y division
print("\nMultiplicación:\n", multiplicacion)
print("\nDivisión:\n", division)

Multiplicación:
 1    1.0
2    NaN
3    9.0
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

División:
 1    1.0
2    NaN
3    1.0
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

In [ ]:

# Potenciar la primer serie
potencia2 = serie ** 2
potencia3 = serie ** 3
potencia5 = serie ** 5

print("\n:Serie a la potencia de 2\n", potencia2)
print("\nSerie a la potencia de 3:\n", potencia3)
print("\nSerie a la potencia de 5:\n", potencia5)

:Serie a la potencia de 2
 1     1
2     4
3     9
4    16
5    25
dtype: int64

Serie a la potencia de 3:
 1      1
2      8
3     27
4     64
5    125
dtype: int64

Serie a la potencia de 5:
 1       1
2      32
3     243
4    1024
5    3125
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [84]:
#Crear una lista con 10 elementos random
lista_edad = [random.randint(1, 80) for _ in range(10)]
#Pasar la lista a Series
edades = Series(lista_edad)
edades

0    77
1     5
2    72
3    74
4    38
5    79
6    44
7    52
8    26
9    19
dtype: int64

In [81]:
#Definimos una variable que guardara solo los elementos mayores a 18
mayores_18 = edades[edades>18 ]
mayores_18

0    79
2    80
3    52
4    71
6    77
7    57
8    57
9    38
dtype: int64

In [ ]:
#Filtra los menores a 18 y convierte cada uno en "Menor de edad"
 #Volve a ejecutar la celda donde define edades cada vez que se ejecuta esta celda
menor_edad = edades[edades <= 18].apply(lambda x: "Menor de edad")
edades.update(menor_edad)
edades

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_11928\3992719602.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['Menor de edad']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  edades.update(menor_edad)

0               77
1    Menor de edad
2               72
3               74
4               38
5               79
6               44
7               52
8               26
9               19
dtype: object

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [98]:
#Creamos un diccionario donde las claves son los Apellidos y los valores las calificaciones
dicc_calificaciones = { "Gomez": 10,"Lopez": 4,"Medina": 9,"Quiroga": 6,"Britez": 8, "Fernandez": 2, "Acosta": 5,"Ramirez": 6,"Ojeda": 4,"Torres": 9}
#Pasamos el diccionario a serie
calificaciones = Series(dicc_calificaciones)
calificaciones

Gomez        10
Lopez         4
Medina        9
Quiroga       6
Britez        8
Fernandez     2
Acosta        5
Ramirez       6
Ojeda         4
Torres        9
dtype: int64

In [96]:
calificaciones.mean()

np.float64(7.2)

In [94]:
calificaciones.median()

np.float64(7.5)

In [91]:
calificaciones.std()

np.float64(1.9321835661585918)

In [95]:
calificaciones.max()

np.int64(10)

In [ ]:
#Buscamos que valor es igual y mayor a 6 y lo lamacenamos en la variable aprobados
aprobados = calificaciones[calificaciones >= 6]
print("Estudiantes aprobados:\n", aprobados)

Estudiantes aprobados:
 Gomez      10
Medina      9
Quiroga     6
Britez      8
Ramirez     6
Torres      9
dtype: int64

In [102]:
ascendente = calificaciones.sort_values()
ascendente

Fernandez     2
Lopez         4
Ojeda         4
Acosta        5
Ramirez       6
Quiroga       6
Britez        8
Medina        9
Torres        9
Gomez        10
dtype: int64

In [103]:
descendente = calificaciones.sort_values(ascending=False)
descendente

Gomez        10
Medina        9
Torres        9
Britez        8
Ramirez       6
Quiroga       6
Acosta        5
Lopez         4
Ojeda         4
Fernandez     2
dtype: int64